<section id="idea-form">

    <div class="container">
      <div class="card">
        <div *ngIf="idea" class="card-header text-center">
          {{ idea.name }}
        </div>
        <div class="card-body">
          <div class="container">
            <form #editIdeaForm="ngForm" (ngSubmit)="onSubmit(editIdeaForm)">
              <div *ngIf="idea" class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  [(ngModel)]="idea.name"
                  placeholder="{{ idea.name }}"
                >
              </div>
              <div *ngIf="idea" class="form-group">
                <label for="description">Description</label>
                <textarea
                  name="description"
                  [(ngModel)]="idea.description"
                  class="form-control">
                  {{ idea.description }}
                </textarea>
              </div>
              <input type="submit" class="btn btn-block btn-purple" value="Update">
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </section>
  