<footer id="main-footer">
  <div class="container py-5">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <div class="row">
          <div class="col">
              <i class="fa fa-copyright"></i> WebJot 2018
              <a href="#" data-toggle="modal" data-target="#contactModal" class="nav-link float-right">Contact Us</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</footer>

<!-- CONTACT MODAL -->
<div class="modal fade" id="contactModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Contact Us</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
      
      <div class="modal-body">
        
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="message.name" [(ngModel)]="message.name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="message.email" [(ngModel)]="message.email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" class="form-control" name="message.message" [(ngModel)]="message.message" required></textarea>
          </div>
            
      </div>

      <div class="modal-footer">
        <input type="submit" class="btn btn-block btn-purple" value="Submit">
      </div>

    </form>

   

    </div>
  </div>
</div>
