<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
    <a routerLink="/" section="#about-section" class="navbar-brand" id="logo"><img src="../../../assets/images/WebJot-logo3.png" alt="WebJot"></a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Log In</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a routerLink="signup" routerLinkActive="active" class="nav-link">Sign Up</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a routerLink="dashboard" routerLinkActive="active" class="nav-link">{{ loggedInUser }}</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="#" (click)="onLogoutClick()" class="nav-link">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
