<!-- HOME SECTION -->
<header id="home-section">
  <div class="overlay">
    <div class="home-inner">

      <div class="row">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
          <div class="login-button-group">
            <button routerLink="/login" class="btn btn-outline-light btn-block">Log In</button>
            <br>
            <button routerLink="/signup" class="btn btn-outline-light btn-block">Sign Up</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>

<!-- ABOUT SECTION -->

<section id="about-section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-5">
          <h1 class="display-4">About</h1>

          <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="clo-lg-10">
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Jot down your ideas for websites and keeptrack of the progress to build your ultiate portfolio</p>
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Create an account and navigate to your dashboard to lauch your first project</p>
                </div>
              </div>

              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  <p>Good luck and have fun!</p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>


